body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.add-btn{
  height: 40px;
}

.search-entry .form-group {
  margin-top: 35px;
}

.search-entry .form-group input{
  height: 60px;
  font-size: 20px;
}

.search-entry .form-group input::placeholder{
  font-size: 20px;
}

table{
  font-size: 18px;
}